@media only screen and (min-width: 600px) {
  section {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 50px auto;
    grid-template-columns: 80% 20%;
    grid-gap: 5px;
    padding: 5px;
    grid-template-areas:
        "sec sec"
        "bread  bread"
        "cuerpo  menu"
  }
}
