<h2>Sección Principal</h2>
<h3>Librería Jurídica Logos</h3>
<h4>Libro Jurídico, Económico y de Empresa</h4>

<p>Desde su creación, el objetivo principal ha sido y es el servicio al cliente, a cuya disposición pone su amplio fondo bibliográfico al cual puede accederse a través de su página web con toda comodidad y rapidez.
</p>

<p>Librería Jurídica Logos es una librería con más de 20 años de experiencia en el libro jurídico, económico y de empresa. Presta servicio tanto a estudiantes como a despachos profesionales, entidades públicas y centros docentes.
</p>
<p>NOTA: Con motivo del Nuevo Reglamento General de Protección de Datos (RGPD) queremos reafirmarnos en que esta web no envía correos maliciosos ni spam. Aún así puede que debido al cambio de los parámetros de seguridad en los servidores de correo electrónico, nuestras notificaciones puedan ir a la bandeja de "correo no deseado" o "spam". Rogamos que si no tenéis noticias nuestras miréis en estos apartados y nos califiquéis como correo deseado para que lleguen a la bandeja de entrada o recibirlos directamente. Gracias.
</p>
