$accordion-bg:  red;
.accordion-header {
  background-color: none !important;
  color: red;
}
.accordion-body {
  padding: 2px !important;
  background-color: none !important;
  color: green !important;
}
